<h3><i class="fas fa-book-reader"></i>StoryLand</h3>
<div class="section">
    <p class="lead">Make your creative story with StoryLand</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>
    Sign-in with Google
    </a>
</div>